footer {
  height: 200px;
  width: 100%;
  padding: 0 30px;
}

#footer {
  max-width: 1400px;
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
}

#footer > * {
  display: grid;
  align-items: center;
  justify-items: center;
}

#footer .footer-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#footer-home {
  grid-template-columns: 80px 154px;
  justify-self: start;
  font-size: 20px;
  font-weight: 700;
}

#footer-home img {
  width: 80px;
}

#footer ul:not(:last-child),
#footer-social-media {
  align-self: start;
}

#footer-social-media {
  justify-self: end;
}

#footer-company {
  align-items: start;
}

#copyright {
  text-align: center;
}

@media screen and (max-width: 750px) {
  footer {
    height: 650px;
    padding: 0 10px;
  }

  #footer {
    grid-template-columns: none;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 30px;
  }

  #footer-home,
  #footer-social-media {
    justify-self: center;
  }

  #copyright {
    display: grid;
    justify-items: center;
    margin-top: 30px;
  }
}
