#above-the-fold-container {
  height: 500px;
  background: url("https://cdn.hytaledata.com/golem.jpg") no-repeat center;
}

#above-the-fold {
  position: relative;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#above-the-fold > * {
  width: 100%;
  position: absolute;
}

#intro-text {
  max-width: 575px;
  z-index: 1;
  justify-self: center;
}

#intro-text h1 {
  font-size: 2.5rem;
  color: #fff;
}

#intro-text h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
}

#cta-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
}

#cta-container button {
  height: 44px;
  width: 235px;
}

@media screen and (max-width: 800px) {
  #above-the-fold-container {
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  #intro-text {
    padding: 0 5px;
    text-align: center;
  }

  #intro-text h1 {
    font-size: 1.5rem;
  }

  #intro-text h2 {
    font-size: 0.75rem;
  }

  #cta-container {
    display: grid;
    grid-template-columns: none;
    grid-row-gap: 10px;
  }
}
