#above-the-fold-container {
  height: 300px;
  margin: 150px 0 !important;
  padding: 0 30px;
}

#above-the-fold {
  position: relative;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#above-the-fold > * {
  width: 100%;
  position: absolute;
}

#intro-text {
  max-width: 575px;
  z-index: 1;
  justify-self: center;
}

#intro-text h1 {
  font-size: 2.5rem;
}

#intro-text h2 {
  font-size: 1.25rem;
}

#cta-container {
  margin-top: 25px;
}

#cta-container button {
  margin-right: 20px;
}

#gradient {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1)
  );
  height: 50%;
}

#chart {
  height: 50%;
}

/* When navigation gets taller */
@media screen and (max-width: 680px) {
  #above-the-fold {
    margin-top: 300px !important;
  }
}
