#above-the-fold {
  border: 1px solid red;
  padding: 30px;
  grid-template-columns: 1fr 1fr;
}

#above-the-fold > * {
  width: 100%;
  border: 1px solid blue;
}

#chart {
  height: 100%;
  max-width: 1000px;
}
