.social-media {
  grid-template-columns: repeat(5, auto);
  width: 125px;
}

.social-media .fab {
  font-size: 20px;
  color: #000e22;
}

.fa-discord:hover {
  color: #7289da;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-youtube:hover {
  color: #f00;
}

.fa-facebook:hover {
  color: #3b5998;
}

nav {
  background-color: #fff;
  height: 120px;
  width: 100%;
  padding: 0 40px;
}

#nav {
  grid-template-columns: 234px auto 234px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav-home {
  grid-template-columns: 80px 154px;
  font-size: 20px;
  font-weight: 700;
}

#nav-home img {
  display: grid;
  justify-self: start;
  width: 80px;
}

#nav-links {
  grid-template-columns: repeat(4, auto);
  justify-self: center;
  width: 400px;
}

nav .social-media {
  justify-self: right;
}

nav .nav-mobile-social-media {
  display: none;
}

#drop-down {
  display: none;
}

@media screen and (max-width: 930px) {
  #nav {
    grid-template-columns: 234px auto;
  }

  #nav-links {
    position: absolute;
    left: 0;
    top: 120px;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 36px);
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition-duration: 0.5s;
    background-color: #018acf;
    z-index: 2;
  }

  #nav-links.close {
    height: 180px;
  }

  #nav-links li {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
  }

  #nav-links a,
  .nav-mobile-social-media i::before {
    color: #fff;
  }

  .nav-mobile-social-media {
    display: grid !important;
  }

  .nav-main-social-media {
    display: none !important;
  }

  #drop-down {
    position: relative;
    display: grid;
    align-self: center;
    justify-self: right;
    height: 25px;
    width: 29px;
    padding: 18px 20px;
    cursor: pointer;
  }

  #drop-down span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 3px;
    width: 22px;
    background: #000e22;
    border-radius: 1px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  }

  #drop-down span:nth-child(1) {
    top: 29%;
  }

  #drop-down span:nth-child(2) {
    top: 49%;
  }

  #drop-down span:nth-child(3) {
    top: 69%;
  }

  #drop-down.close span:nth-child(1) {
    transform: rotate(45deg);
    top: 49%;
  }

  #drop-down.close span:nth-child(2),
  #drop-down.close span:nth-child(3) {
    transform: rotate(-45deg);
    top: 49%;
  }

  nav .social-media {
    justify-self: center;
  }
}

@media screen and (max-width: 680px) {
  nav {
    padding: 0 5px;
  }
}

footer {
  height: 200px;
  width: 100%;
  padding: 0 30px;
}

#footer {
  max-width: 1400px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#footer > * {
  display: grid;
  align-items: center;
  justify-items: center;
}

#footer .footer-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#footer-home {
  grid-template-columns: 80px 154px;
  justify-self: start;
  font-size: 20px;
  font-weight: 700;
}

#footer-home img {
  width: 80px;
}

#footer ul:not(:last-child),
#footer-social-media {
  align-self: start;
}

#footer-social-media {
  justify-self: end;
}

#footer-company {
  align-items: start;
}

#copyright {
  text-align: center;
}

@media screen and (max-width: 750px) {
  footer {
    height: 450px;
    padding: 0 10px;
  }

  #footer {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 30px;
  }

  #footer-home,
  #footer-social-media {
    justify-self: center;
  }

  #copyright {
    display: grid;
    justify-items: center;
    margin-top: 30px;
  }
}

#above-the-fold-container {
  height: 500px;
  background: url("https://cdn.hytaledata.com/golem.jpg") no-repeat center;
}

#above-the-fold {
  position: relative;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#above-the-fold > * {
  width: 100%;
  position: absolute;
}

#intro-text {
  max-width: 575px;
  z-index: 1;
  justify-self: center;
}

#intro-text h1 {
  font-size: 2.5rem;
  color: #fff;
}

#intro-text h2 {
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
}

#cta-container {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 20px;
}

#cta-container button {
  height: 44px;
  width: 235px;
}

@media screen and (max-width: 800px) {
  #above-the-fold-container {
    padding: 0;
  }
}

@media screen and (max-width: 680px) {
  #intro-text {
    padding: 0 5px;
    text-align: center;
  }

  #intro-text h1 {
    font-size: 1.5rem;
  }

  #intro-text h2 {
    font-size: 0.75rem;
  }

  #cta-container {
    display: grid;
    grid-template-columns: none;
    grid-row-gap: 10px;
  }
}

.learn-more {
  margin-top: 15px;
  text-align: center;
}

.checkbox {
  display: grid;
  align-items: center;
  grid-template-columns: 20px auto 20px;
}

.checkbox input {
  height: 17px;
  width: 17px;
}

.recaptcha-disclaimer {
  text-align: center;
}

.recaptcha-disclaimer a {
  margin: 0 3px;
  text-decoration: underline !important;
}

#beta-testing-container {
  width: 100%;
  margin-top: 50px;
}

#beta-testing {
  max-width: 1400px;
  padding: 0 20px;
}

#beta-testing h2 {
  text-align: center;
  font-size: 2.2em;
}

#optional-survey {
  overflow-y: hidden;
  transition-duration: 0.5s;
}

#features {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 20px;
}

#features .checkbox {
  margin-top: 3px;
}

#beta-testing .feature {
  display: flex;
  align-items: center;
}

#beta-testing form {
  margin-top: 50px;
  width: 100%;
}

#password-error {
  color: #ee4130;
}

#beta-testing form div:not(.checkbox):not(.optional) {
  width: 100%;
  margin-bottom: 20px;
}

#beta-testing form div label {
  display: flex;
  font-weight: bold;
  font-size: 20px;
}

.optional {
  align-self: center;
  margin-left: 5px;
  font-weight: 300;
  font-size: 12px;
}

#beta-testing form .checkbox label {
  font-weight: normal;
  font-size: 16px;
}

#beta-testing form div input {
  width: 100%;
  padding: 5px 10px;
}

#beta-testing .fa-question-circle {
  margin-left: 5px;
  position: relative;
}

#beta-testing .more-info {
  display: none;
  position: absolute;
  height: 100px;
  width: 300px;
  left: -150px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  padding: 0 7px;
  box-shadow: 0px 10px 52px 6px rgba(0, 0, 0, 0.16);
}

#beta-testing .fa-question-circle:hover .more-info {
  display: grid !important;
}

#beta-testing .more-info a {
  text-decoration: underline;
  color: #0c6a99;
}

#other {
  display: grid;
  grid-template-columns: 75px auto;
}

#project-type div:not(.optional) {
  margin-top: 10px;
}

#legal-agree {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

#legal-agree a {
  text-decoration: underline;
}

#beta-testing .submit-button {
  margin: 10px 0;
}

#email-sub-result {
  text-align: center;
  max-width: 700px;
  font-size: 20px;
}

@media screen and (max-width: 950px) {
  #beta-testing {
    width: 100%;
  }

  #beta-testing .fa-question-circle {
    position: static !important;
  }

  #beta-testing .more-info {
    left: 5px;
    right: 5px;
    width: 90%;
  }

  #features {
    grid-template-columns: none;
  }
}

@media screen and (max-width: 680px) {
  #beta-testing label {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 370px) {
  #beta-testing label {
    font-size: 12px !important;
  }
}

.planned-solution-container {
  margin-top: 125px;
  padding: 0 30px;
}

.planned-solution {
  grid-template-columns: repeat(2, 699px);
  max-width: 1400px;
  width: 100%;
}

.planned-solution > * {
  height: 350px;
  max-height: 350px;
  width: 100%;
  max-width: 100%;
}

.planned-solution-information {
  height: auto;
  padding-right: 20px;
}

.planned-solution-information h2 {
  margin-bottom: 15px;
  font-size: 2.2em;
}

.planned-solution-graphs {
  justify-self: right;
}

#ab-testing-container {
  margin-bottom: 150px;
}

@media screen and (max-width: 1470px) {
  .planned-solution {
    grid-template-columns: repeat(2, 499px);
    max-width: 1000px;
  }
}

@media screen and (min-width: 1081px) {
  #ab-testing .planned-solution-information div {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .planned-solution-container {
    padding: 0;
  }

  .planned-solution {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 30px;
    width: 99%;
    max-width: 99%;
  }

  .planned-solution > * {
    height: auto;
    max-height: auto;
  }

  .planned-solution-information {
    text-align: center;
    padding: 0 10px;
  }

  #game-stats {
    grid-template-areas: "game-info" "game-graph";
  }

  #game-stats .planned-solution-information {
    grid-area: game-info;
  }

  #game-stats .planned-solution-graphs {
    grid-area: game-graph;
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/