.social-media {
  grid-template-columns: repeat(4, auto);
  width: 125px;
}

.social-media .fab {
  font-size: 20px;
  color: #000e22;
}

.fa-discord:hover {
  color: #7289da;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-youtube:hover {
  color: #f00;
}

nav {
  background-color: #fff;
  height: 120px;
  width: 100%;
  padding: 0 40px;
}

#nav {
  grid-template-columns: 180px auto 180px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav-home {
  grid-template-columns: repeat(2, auto);
}

#nav-home img {
  width: 80px;
}

#nav-links {
  grid-template-columns: repeat(4, 100px);
  justify-self: center;
  width: 400px;
}

#beta-testing-button {
  max-width: 250px;
  margin: 0 auto;
}

#beta-testing-button button {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #ee4130;
}

#beta-testing-button button:hover {
  background-color: #d13628;
}

nav .social-media {
  justify-self: right;
}

nav .nav-mobile-social-media {
  display: none;
}

#drop-down {
  display: none;
}

@media screen and (max-width: 680px) {
  nav {
    height: 200px;
  }

  #nav {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }

  #nav-home {
    justify-content: center;
    grid-column-gap: 10px;
  }

  nav .social-media {
    justify-self: center;
  }
}

footer {
  height: 200px;
  width: 100%;
  padding: 0 30px;
  margin-top: 100px;
}

#footer {
  max-width: 1400px;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#footer > * {
  display: grid;
  align-items: center;
  justify-items: center;
}

#footer .footer-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#footer-home {
  grid-template-columns: 80px 100px;
  width: 170px;
  justify-self: start;
}

#footer-home img {
  width: 80px;
}

#footer ul:not(:last-child),
#footer-social-media {
  align-self: start;
}

#footer-social-media {
  justify-self: end;
}

#footer-company {
  align-items: start;
}

@media screen and (max-width: 750px) {
  footer {
    height: 450px;
    padding: 0 10px;
  }

  #footer {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
    grid-row-gap: 30px;
  }

  #footer-home,
  #footer-social-media {
    justify-self: center;
  }

  #copyright {
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 30px;
  }
}

#above-the-fold-container {
  height: 500px;
  background: url("http://cdn.hytaledata.com/golem.jpg") no-repeat center -200px;
}

#above-the-fold {
  position: relative;
  padding: 0 30px;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#above-the-fold > * {
  width: 100%;
  position: absolute;
}

#intro-text {
  max-width: 575px;
  z-index: 1;
  justify-self: center;
}

#intro-text h1 {
  font-size: 2.5rem;
  color: #fff;
}

#intro-text h2 {
  font-size: 1.25rem;
  color: #fff;
}

#cta-container {
  margin-top: 25px;
}

#cta-container button {
  width: 235px;
}

@media screen and (max-width: 800px) {
  #above-the-fold-container {
    padding: 0;
  }
}

@media screen and (min-width: 680px) {
  #cta-container button {
    margin-right: 20px;
  }
}

@media screen and (max-width: 680px) {
  #intro-text {
    padding: 0 5px;
    text-align: center;
  }

  #intro-text h1 {
    font-size: 1.5rem;
  }

  #intro-text h2 {
    font-size: 0.75rem;
  }

  #cta-container {
    display: grid;
    grid-row-gap: 10px;
  }
}

.learn-more {
  margin-top: 15px;
  text-align: center;
}

.checkbox-input {
  user-select: none;
  cursor: pointer;
}

.checkbox-input span {
  display: inline-block;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}

.checkbox-input span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  border: 1px solid #9098a9;
  transition: all 0.2s ease;
}

.checkbox-input span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}

.checkbox-input span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #018acf;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 50%;
}

.checkbox-input span:last-child {
  padding-left: 5px;
}

.checkbox-input:hover span:first-child {
  border-color: #018acf;
}

.checkbox:checked + .checkbox-input span:first-child {
  background: #018acf;
  border-color: #018acf;
  animation: wave 0.4s ease;
}

.checkbox:checked + .checkbox-input span:first-child svg {
  stroke-dashoffset: 0;
}

.checkbox:checked + .checkbox-input span:first-child:before {
  transform: scale(3.5);
  opacity: 0;
  transition: all 0.6s ease;
}

@keyframes wave {
  50% {
    transform: scale(0.9);
  }
}

.recaptcha-disclaimer {
  text-align: center;
}

.recaptcha-disclaimer a {
  margin: 0 3px;
  text-decoration: underline !important;
}

#beta-testing-container {
  width: 100%;
  margin-top: 50px;
}

#beta-testing {
  max-width: 1400px;
  padding: 0 20px;
}

#beta-testing-title {
  font-size: 24px;
  font-weight: bold;
}

#features {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 40px;
  margin-bottom: 20px;
}

#features .Checkbox {
  margin-top: 3px;
}

#beta-testing .feature {
  display: flex;
  align-items: center;
}

#beta-testing form {
  margin-top: 50px;
  width: 100%;
}

#beta-testing form div:not(.Checkbox) {
  width: 100%;
  margin-bottom: 20px;
}

#beta-testing form div label {
  font-weight: bold;
  font-size: 20px;
}

#beta-testing form .Checkbox label {
  font-weight: normal;
  font-size: 16px;
}

#beta-testing form div input {
  width: 100%;
  padding: 5px 10px;
}

#beta-testing .fa-question-circle {
  margin-left: 5px;
  position: relative;
}

#beta-testing .more-info {
  display: none;
  position: absolute;
  height: 100px;
  width: 300px;
  left: -150px;
  background-color: #fff;
  border-radius: 5px;
  z-index: 2;
  text-align: center;
  padding: 0 7px;
  box-shadow: 0px 10px 52px 6px rgba(0, 0, 0, 0.16);
}

#beta-testing .fa-question-circle:hover .more-info {
  display: grid !important;
}

#beta-testing .more-info a {
  text-decoration: underline;
  color: #0c6a99;
}

#other {
  display: grid;
  grid-template-columns: 75px auto;
}

#project-type div {
  margin-top: 10px;
}

#legal-agree {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
}

#legal-agree a {
  text-decoration: underline;
}

#beta-testing .submit-button {
  margin: 10px 0;
}

#email-sub-result {
  text-align: center;
  max-width: 700px;
  font-size: 20px;
}

@media screen and (max-width: 950px) {
  #beta-testing {
    width: 100%;
  }

  #beta-testing .fa-question-circle {
    position: static !important;
  }

  #beta-testing .more-info {
    left: 5px;
    right: 5px;
    width: 90%;
  }

  #features {
    grid-template-columns: none;
  }
}

@media screen and (max-width: 680px) {
  #beta-testing label {
    font-size: 14px !important;
  }
}

@media screen and (max-width: 370px) {
  #beta-testing label {
    font-size: 12px !important;
  }
}

.planned-solution-container {
  margin-top: 125px;
  padding: 0 30px;
}

.planned-solution {
  grid-template-columns: repeat(2, 699px);
  max-width: 1400px;
  width: 100%;
}

.planned-solution > * {
  height: 350px;
  max-height: 350px;
  width: 100%;
  max-width: 100%;
}

.planned-solution-information {
  height: auto;
  padding-right: 20px;
}

.planned-solution-information h2 {
  margin-bottom: 15px;
}

.planned-solution-graphs {
  justify-self: right;
}

@media screen and (max-width: 1470px) {
  .planned-solution {
    grid-template-columns: repeat(2, 499px);
    max-width: 1000px;
  }
}

@media screen and (min-width: 1081px) {
  #ab-testing .planned-solution-information div {
    padding-right: 50px;
  }
}

@media screen and (max-width: 1080px) {
  .planned-solution-container {
    padding: 0;
  }

  .planned-solution {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 30px;
    width: 99%;
    max-width: 99%;
  }

  .planned-solution > * {
    height: auto;
    max-height: auto;
  }

  .planned-solution-information {
    text-align: center;
    padding: 0 10px;
  }

  #game-stats {
    grid-template-areas: "game-info" "game-graph";
  }

  #game-stats .planned-solution-information {
    grid-area: game-info;
  }

  #game-stats .planned-solution-graphs {
    grid-area: game-graph;
  }
}

.solution {
  display: inline-block;
  height: 230px;
  width: 400px;
  margin: 30px 15px;
  padding: 0 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.solution-data {
  grid-template-rows: 30px auto 30px;
  height: 100%;
  position: relative;
}

.solution-name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.solution-description {
  padding-top: 20px;
}

.solution-social-media {
  display: flex;
}

.solution-social-media .social-media {
  margin-left: 3px;
  width: 30px;
}

#planned-solutions-container {
  margin-top: 50px;
}

#planned-solutions {
  max-width: 1400px;
}

#planned-solutions-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

#solution-list {
  display: inline-block;
  text-align: center;
}


/*# sourceMappingURL=styles.chunk.css.map*/