.social-media {
  grid-template-columns: repeat(4, auto);
  width: 125px;
}

.social-media .fab {
  font-size: 20px;
  color: #000e22;
}

.fa-discord:hover {
  color: #7289da;
}

.fa-twitter:hover {
  color: #1da1f2;
}

.fa-instagram:hover {
  color: #3f729b;
}

.fa-youtube:hover {
  color: #f00;
}

nav {
  background-color: #fff;
  height: 120px;
  width: 100%;
  padding: 0 40px;
}

#nav {
  grid-template-columns: 180px auto 125px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav-home {
  grid-template-columns: repeat(2, auto);
}

#nav-home img {
  width: 80px;
}

#nav-links {
  grid-template-columns: repeat(4, 100px);
  justify-self: center;
  width: 400px;
}

#beta-testing-button {
  max-width: 250px;
  margin: 0 auto;
}

#beta-testing-button button {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #ee4130;
}

#beta-testing-button button:hover {
  background-color: #d13628;
}

nav .social-media {
  justify-self: right;
}

nav .nav-mobile-social-media {
  display: none;
}

#drop-down {
  display: none;
}

@media screen and (max-width: 680px) {
  nav {
    height: 200px;
  }

  #nav {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }

  #nav-home {
    justify-content: center;
    grid-column-gap: 10px;
  }

  nav .social-media {
    justify-self: center;
  }
}

footer {
  height: 200px;
  width: 100%;
  padding: 0 30px;
  margin-top: 100px;
}

#footer {
  max-width: 1400px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

#footer > * {
  display: grid;
  align-items: center;
  justify-items: center;
}

#footer .footer-title {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
}

#footer-home {
  grid-template-columns: 80px 100px;
  width: 170px;
  justify-self: start;
}

#footer-home img {
  width: 80px;
}

#footer ul:not(:last-child),
#footer-social-media {
  align-self: start;
}

#footer-social-media {
  justify-self: end;
}

#footer-company {
  align-items: start;
}

@media screen and (max-width: 600px) {
  footer {
    /* height: 725px; */
    height: 300px;
    padding: 0 10px;
  }

  #footer {
    grid-template-columns: none;
    grid-template-rows: repeat(2, auto);
    grid-row-gap: 30px;
  }

  #footer-home,
  #footer-social-media {
    justify-self: center;
  }

  #copyright {
    display: grid;
    justify-items: center;
    text-align: center;
    margin-top: 30px;
  }
}

.solution {
  display: inline-block;
  height: 230px;
  width: 400px;
  margin: 30px 15px;
  padding: 0 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.solution-data {
  grid-template-rows: 30px auto;
  height: 100%;
  position: relative;
}

.solution-name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.solution-description {
  padding-top: 20px;
}

.solution-social-media {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 0;
}

.solution-social-media .social-media {
  margin-left: 3px;
  margin-top: 3px;
  width: 30px;
}

.solution-rating {
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 0;
}

.solution-rating .far {
  margin-right: 2px;
}

.solution-rating-up,
.solution-rating-down {
  cursor: pointer;
  opacity: 0.8;
}

.solution-rating-up {
  margin-right: 10px;
}

.solution-rating-up,
.solution-rating-up * {
  color: #018acf;
}

.solution-rating-down,
.solution-rating-down * {
  color: #ee4130;
}

#planned-solutions-container {
  margin-top: 50px;
}

#planned-solutions {
  max-width: 1400px;
}

#planned-solutions-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}

#solution-list {
  display: inline-block;
  text-align: center;
}


/*# sourceMappingURL=styles.chunk.css.map*/