nav {
  background-color: #fff;
  height: 120px;
  width: 100%;
  padding: 0 40px;
}

#nav {
  grid-template-columns: 234px auto 234px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav-home {
  grid-template-columns: 80px 154px;
  font-size: 20px;
  font-weight: 700;
}

#nav-home img {
  display: grid;
  justify-self: start;
  width: 80px;
}

#nav-links {
  grid-template-columns: repeat(4, auto);
  justify-self: center;
  width: 400px;
}

nav .social-media {
  justify-self: right;
}

nav .nav-mobile-social-media {
  display: none;
}

#drop-down {
  display: none;
}

@media screen and (max-width: 930px) {
  #nav {
    grid-template-columns: 234px auto;
  }

  #nav-links {
    position: absolute;
    left: 0;
    top: 120px;
    grid-template-columns: none;
    grid-template-rows: repeat(4, 36px);
    height: 0;
    width: 100%;
    overflow-y: hidden;
    transition-duration: 0.5s;
    background-color: #018acf;
    z-index: 2;
  }

  #nav-links.close {
    height: 180px;
  }

  #nav-links li {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
  }

  #nav-links a,
  .nav-mobile-social-media i::before {
    color: #fff;
  }

  .nav-mobile-social-media {
    display: grid !important;
  }

  .nav-main-social-media {
    display: none !important;
  }

  #drop-down {
    position: relative;
    display: grid;
    align-self: center;
    justify-self: right;
    height: 25px;
    width: 29px;
    padding: 18px 20px;
    cursor: pointer;
  }

  #drop-down span {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    height: 3px;
    width: 22px;
    background: #000e22;
    border-radius: 1px;
    transition: all cubic-bezier(0.25, 0.1, 0.28, 1.54) 0.32s;
  }

  #drop-down span:nth-child(1) {
    top: 29%;
  }

  #drop-down span:nth-child(2) {
    top: 49%;
  }

  #drop-down span:nth-child(3) {
    top: 69%;
  }

  #drop-down.close span:nth-child(1) {
    transform: rotate(45deg);
    top: 49%;
  }

  #drop-down.close span:nth-child(2),
  #drop-down.close span:nth-child(3) {
    transform: rotate(-45deg);
    top: 49%;
  }

  nav .social-media {
    justify-self: center;
  }
}

@media screen and (max-width: 680px) {
  nav {
    padding: 0 5px;
  }
}
