nav {
  background-color: #fff;
  height: 120px;
  width: 100%;
  padding: 0 40px;
}

#nav {
  grid-template-columns: 180px auto 180px;
  max-width: 1400px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

#nav-home {
  grid-template-columns: repeat(2, auto);
}

#nav-home img {
  width: 80px;
}

#nav-links {
  grid-template-columns: repeat(4, 100px);
  justify-self: center;
  width: 400px;
}

#beta-testing-button {
  max-width: 250px;
  margin: 0 auto;
}

#beta-testing-button button {
  opacity: 0;
  transition: opacity 0.5s;
  background-color: #ee4130;
}

#beta-testing-button button:hover {
  background-color: #d13628;
}

nav .social-media {
  justify-self: right;
}

nav .nav-mobile-social-media {
  display: none;
}

#drop-down {
  display: none;
}

@media screen and (max-width: 680px) {
  nav {
    height: 200px;
  }

  #nav {
    grid-template-columns: none;
    grid-template-rows: repeat(3, auto);
  }

  #nav-home {
    justify-content: center;
    grid-column-gap: 10px;
  }

  nav .social-media {
    justify-self: center;
  }
}
