.solution {
  display: inline-block;
  height: 230px;
  width: 400px;
  margin: 30px 15px;
  padding: 0 10px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 4px;
  transition-duration: 0.2s;
}

.solution-data {
  grid-template-rows: 30px auto;
  height: 100%;
  position: relative;
}

.solution-name {
  padding-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.solution-description {
  padding-top: 20px;
}

.solution-social-media {
  display: flex;
  position: absolute;
  bottom: 5px;
  left: 0;
}

.solution-social-media .social-media {
  margin-left: 3px;
  margin-top: 3px;
  width: 30px;
}

.solution-rating {
  position: absolute;
  display: flex;
  bottom: 5px;
  right: 0;
}

.solution-rating .far {
  margin-right: 2px;
}

.solution-rating-up,
.solution-rating-down {
  cursor: pointer;
  opacity: 0.8;
}

.solution-rating-up {
  margin-right: 10px;
}

.solution-rating-up,
.solution-rating-up * {
  color: #018acf;
}

.solution-rating-down,
.solution-rating-down * {
  color: #ee4130;
}
