@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,900");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: #000e22;
}

html,
body,
#__next {
  height: 100%;
}

a:link,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  display: grid;
  align-items: center;
  justify-items: center;
}

.center-v {
  display: grid;
  align-items: center;
}

.center-h {
  display: grid;
  justify-items: center;
}

.no-select {
  user-select: none;
}

.circle {
  border-radius: 50%;
}

button {
  background-color: #018acf;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

input,
select,
textarea {
  width: 345px;
  height: 40px;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dce0e6;
  outline: none;
  resize: none;
}

button:hover {
  background-color: #0c6a99;
}

.required {
  color: #f00;
  margin-left: 2px;
}

.underline {
  text-decoration: underline;
}

.grecaptcha-badge {
  display: none !important;
}
